<script>
  const dt = new Date()
  const showMonthLimit = 3
  const start_d = new Date(dt.getFullYear(),dt.getMonth(),0)
  const end_d = new Dete(dt.getFullYear(),dt.getMonth()+showMonthLimit,0)
  const gap = (end_d - start_d)/86400000
</script>
<div id="menu-bar">
  <div id="top-menu">
    <ul>
      <li>ホーム</li>
      <li>プロジェクト</li>
      <li>ヘルプ</li>
    </ul>
  </div>
  <div id="account">
    <a>ログイン</a>
  </div>
</div>
  <header>
  <div id="quick-search">
    <a>検索:</a>
    <input type="text"/>
    <div id="project-jump">プロジェクトへ移動...</div>
  </div>
    <h1>Redmineデモサイト - Bluemine -</h1>
        <div id="main-menu" class="tabs">
        <ul>
            <li><a href="/projects">プロジェクト</a></li>
            <li><a href="/issues">チケット</a></li>
            <li class="selected"><a href="/issues/gantt">ガントチャート</a></li>
            <li><a href="/issues/calendar">カレンダー</a></li>
            </ul>
        </div>
</header>

<div id="main">
  <div id="content">
    <h2>ガントチャート</h2>
    <div class="contextual">
</div>

<h2></h2>


<div id="query_form_with_buttons" class="hide-when-print">
<div id="query_form_content">
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon"></legend>
    <div style="">
    </div>
  </fieldset>

<table>
  <thead>
    <tr>
      <th rowspan="4"></th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th></th>
    </tr>
    </thead>
  </table>
  <fieldset id="options" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"></legend>
    <div style="display: none;">
      <div>
            <fieldset>
              <legend>
              </legend>
              <div id="list-definition">
                <div>
              <label for="draw_selected_columns">
              </label>
                </div>
                <div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend></legend>
              <label for="draw_relations">
              </label>
            </fieldset>
            <fieldset>
              <legend></legend>
              <label for="draw_progress_line">
              </label>
            </fieldset>
      </div>
    </div>
  </fieldset>
</div>

<p class="contextual">
  <span>

  </span>
  <span>
  </span>
</p>

<p class="buttons">
</p>
</div>




<table class='gantt-table'>
<tr>
<td style="" class="gantt_subjects_column">

</td>

  <td class=""  id="">

  </td>
<td>
<div style="position:relative;" id="gantt_area">

</div>
</td>
</tr>
</table>

<span class="pagination">
  <ul class="pages">
    <li class="previous page">

    </li>
    <li class="next page">

    </li>
  </ul>
</span>

  </div>
</div>