<div class="contextual">
</div>

<h2></h2>


<div id="query_form_with_buttons" class="hide-when-print">
<div id="query_form_content">
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon"></legend>
    <div style="">
    </div>
  </fieldset>

  <fieldset id="options" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"></legend>
    <div style="display: none;">
      <div>
            <fieldset>
              <legend>
              </legend>
              <div id="list-definition">
                <div>
              <label for="draw_selected_columns">
              </label>
                </div>
                <div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend></legend>
              <label for="draw_relations">
              </label>
            </fieldset>
            <fieldset>
              <legend></legend>
              <label for="draw_progress_line">
              </label>
            </fieldset>
      </div>
    </div>
  </fieldset>
</div>

<p class="contextual">
  <span>

  </span>
  <span>
  </span>
</p>

<p class="buttons">
</p>
</div>




<table class='gantt-table'>
<tr>
<td style="" class="gantt_subjects_column">

</td>

  <td class=""  id="">

  </td>
<td>
<div style="position:relative;" id="gantt_area">

</div>
</td>
</tr>
</table>

<span class="pagination">
  <ul class="pages">
    <li class="previous page">

    </li>
    <li class="next page">

    </li>
  </ul>
</span>
