<div id="menu-bar">
  <div id="top-menu">
    <ul>
      <li>ホーム</li>
      <li>プロジェクト</li>
      <li>ヘルプ</li>
    </ul>
  </div>
  <div id="account">
    <a>ログイン</a>
  </div>
</div>
  <header>
  <div id="quick-search">
    <a>検索:</a>
    <input type="text"/>
    <div id="project-jump">プロジェクトへ移動...</div>
  </div>
    <h1>Redmineデモサイト - Bluemine -</h1>
    <div id="main-menu" class="tabs">
        <ul>
            <li class="selected"><a href="/projects">プロジェクト</a></li>
            <li><a href="/issues">チケット</a></li>
            <li><a href="/issues/gantt">ガントチャート</a></li>
            <li><a href="/issues/calendar">カレンダー</a></li>
            </ul>
        </div>
</header>

<div id="main">
  <div id="content">
    <h2>プロジェクト</h2>
  </div>
</div>