<h2></h2>

<div id="query_form_with_buttons" class="hide-when-print">
<div id="query_form_content">
  <fieldset id="filters" class="collapsible ">
    <legend onclick="toggleFieldset(this);" class="icon "></legend>
    <div style="">
    </div>
  </fieldset>
</div>

<span class="contextual pagination">
  <ul class="pages">
    <li class="previous page">
    </li><li class="next page">
    </li>
  </ul>
</span>

<p class="buttons">

</p>
</div>

<p class="legend cal">
  <span class="starting"></span>
  <span class="ending"></span>
  <span class="starting ending"></span>
</p>
